.Demo {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-around;
  
}
.Demo-container {
  width: 200px;
  background-color: #F4512C;
  padding: 40px;
  margin: 30px;
  align-self: center;
  min-height: 300px;
}

.Demo-image {
  object-fit: contain;
  width: 100%;
  min-height: 100%;
}
